@model IEnumerable<WebDeveloper.Model.EmailAddress>

<h1>Emails</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.EmailAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=> item.EmailAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
        </tr>
    }
</table>
