body {
  padding-top: 4rem;
  padding-bottom: 1.5rem; }

footer {
  background: #000;
  color: #fff;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.page-size {
  padding: 20px; }

.modal-header {
  padding: 10px;
  border-bottom: 0 solid #e5e5e5;
  padding-bottom: 0; }

.modal-body {
  padding-top: 0; }

