<div>
    <div class="row">
        <label>Person Type:</label>
        <input type="text" ng-readonly="readOnly"  ng-model="person.personType" value="person.personType" />
    </div>

    <div class="row">
        <label>First Name:</label>
        <input type="text" ng-readonly="readOnly" ng-model="person.firstName" value="person.firstName" />
    </div>

    <div class="row">
        <label>Last Name:</label>
        <input type="text" ng-readonly="readOnly" ng-model="person.lastName" value="person.lastName" />
    </div>

    <div class="row">
        <label>Email Promotion:</label>
        <input type="text" ng-readonly="readOnly" ng-model="person.emailPromotion" value="person.emailPromotion" />
    </div>

</div>